## Content
    * Import libraries
    * Data Exploration
        - Train VS Test datasets
        - Positive VS negative tweets
        - Label distribution
        - Tweet length analysis (character length)
        - Box plot
        - Wordcloud

# Import Libraries

In [1]:
import warnings
import numpy as np
import pandas as pd #for visualization
import seaborn as sns # for visualization
import matplotlib.pyplot as plt
from IPython.display import display

# setting up the background style for the plots

plt.style.use('fivethirtyeight')
%matplotlib inline

pd.set_option("display.max_colwidth",200)
warnings.filterwarnings("ignore" , category=DeprecationWarning)

# Data Exploration

## Loading and displaying Datasets

In [2]:
train = pd.read_csv(r'C:\Users\mohit\OneDrive\Desktop\Machine-Learning-Models\Natural-Language-Processing\Hate Speech Detection\train.csv')
test = pd.read_csv(r'C:\Users\mohit\OneDrive\Desktop\Machine-Learning-Models\Natural-Language-Processing\Hate Speech Detection\test.csv')

In [12]:
display(train.head(5))
display(test.head(5))

,id,label,tweet
0,1,0,@user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction. #run
1,2,0,@user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx. #disapointed #getthanked
2,3,0,bihday your majesty
3,4,0,#model i love u take with u all the time in urð±!!! ðððð ð¦ð¦ð¦
4,5,0,factsguide: society now #motivation

,id,tweet
0,31963,#studiolife #aislife #requires #passion #dedication #willpower to find #newmaterialsâ¦
1,31964,@user #white #supremacists want everyone to see the new â #birdsâ #movie â and hereâs why
2,31965,safe ways to heal your #acne!! #altwaystoheal #healthy #healing!!
3,31966,"is the hp and the cursed child book up for reservations already? if yes, where? if no, when? ððð #harrypotter #pottermore #favorite"
4,31967,"3rd #bihday to my amazing, hilarious #nephew eli ahmir! uncle dave loves you and missesâ¦"

In [6]:
# Label Encoding

labels = {0 : "not offensive" , 1: "offensive"}
labels

{0: 'not offensive', 1: 'offensive'}

# Train vs Test Dataset

In [8]:
train.shape , test.shape

((31962, 3), (17197, 2))

**A.  Train Dataset**

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      31962 non-null  int64
 1   label   31962 non-null  int64
 2   tweet   31962 non-null  object
dtypes: int64(2), object(1)
memory usage: 749.2+ KB

## Info:

* The train dataset has three columns - "id", "label", "tweet"
    - Column "id" is not useful for classification.
    - Column "tweet" contains the tweets
    - Column "label" contains their category.
* We have approx. 31K data points and there are no null value presents in the training data

In [11]:
train.describe()

                 id         label
count  31962.000000  31962.000000
mean   15981.500000      0.070146
std     9226.778988      0.255397
min        1.000000      0.000000
25%     7991.250000      0.000000
50%    15981.500000      0.000000
75%    23971.750000      0.000000
max    31962.000000      1.000000

**B. Test Dataset**

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17197 entries, 0 to 17196
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      17197 non-null  int64
 1   tweet   17197 non-null  object
dtypes: int64(1), object(1)
memory usage: 268.8+ KB

In [14]:
test.describe()

                 id
count  17197.000000
mean   40561.000000
std     4964.490625
min    31963.000000
25%    36262.000000
50%    40561.000000
75%    44860.000000
max    49159.000000

**Train and Test Datasets: Tweet Length**